USE [master]
GO
/****** Object:  Database [InventoryManagementDB]    Script Date: 5/8/2026 3:36:39 AM ******/
CREATE DATABASE [InventoryManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryManagementDB', FILENAME = N'C:\Users\rarec\InventoryManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventoryManagementDB_log', FILENAME = N'C:\Users\rarec\InventoryManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryManagementDB]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 5/8/2026 3:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[ItemID] [nvarchar](50) NOT NULL,
	[ItemName] [nvarchar](100) NULL,
	[Category] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[DateAdded] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 5/8/2026 3:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [nvarchar](50) NOT NULL,
	[SupplierName] [nvarchar](100) NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[Status] [nvarchar](50) NULL,
	[DateAdded] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 5/8/2026 3:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransID] [nvarchar](50) NOT NULL,
	[ItemName] [nvarchar](100) NULL,
	[BorrowerName] [nvarchar](100) NULL,
	[IssuedBy] [nvarchar](100) NULL,
	[ReturnedBy] [nvarchar](100) NULL,
	[DateIssued] [date] NULL,
	[DueDate] [date] NULL,
	[IsReturned] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/8/2026 3:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Permissions] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Inventory] ([ItemID], [ItemName], [Category], [Quantity], [Status], [DateAdded]) VALUES (N'ITM-002', N'Logitech Mouse', N'Mouse', 2, N'Missing', CAST(N'2026-05-01' AS Date))
INSERT [dbo].[Inventory] ([ItemID], [ItemName], [Category], [Quantity], [Status], [DateAdded]) VALUES (N'ITM-003', N'MSI business', N'Laptop', 1, N'Under Repair', CAST(N'2026-05-08' AS Date))
INSERT [dbo].[Inventory] ([ItemID], [ItemName], [Category], [Quantity], [Status], [DateAdded]) VALUES (N'ITM-004', N'Brother Wireless', N'Printer', 4, N'Available', CAST(N'2026-05-08' AS Date))
GO
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactPerson], [Phone], [Email], [Address], [Status], [DateAdded]) VALUES (N'SUP-001', N'ASUS Philippines', N'Mark Reyes', N'09171234567', N'support@asus.com', N'Quezon City, Philippines', N'Active', CAST(N'2025-11-25' AS Date))
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactPerson], [Phone], [Email], [Address], [Status], [DateAdded]) VALUES (N'SUP-002', N'A4Tech Philippines', N'Anna Santos', N'09281234567', N'sales@a4tech.com', N'Manila, Philippines', N'Active', CAST(N'2026-03-09' AS Date))
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactPerson], [Phone], [Email], [Address], [Status], [DateAdded]) VALUES (N'SUP-003', N'Logitech PH', N'Carlo Cruz', N'09192345678', N'info@logitech.com', N'Makati City, Philippines', N'Active', CAST(N'2026-05-01' AS Date))
GO
INSERT [dbo].[Transactions] ([TransID], [ItemName], [BorrowerName], [IssuedBy], [ReturnedBy], [DateIssued], [DueDate], [IsReturned]) VALUES (N'TR-001', N'Brother Wireless', N'Erica Jean Humilde', N'Admin User', N'', CAST(N'2026-05-05' AS Date), CAST(N'2026-05-08' AS Date), 0)
INSERT [dbo].[Transactions] ([TransID], [ItemName], [BorrowerName], [IssuedBy], [ReturnedBy], [DateIssued], [DueDate], [IsReturned]) VALUES (N'TR-002', N'Asus Monitor', N'Sheila Mae Sagala', N'Eula Lawrence', N'Sheila Mae Sagala', CAST(N'2026-04-25' AS Date), CAST(N'2026-04-27' AS Date), 1)
INSERT [dbo].[Transactions] ([TransID], [ItemName], [BorrowerName], [IssuedBy], [ReturnedBy], [DateIssued], [DueDate], [IsReturned]) VALUES (N'TR-003', N'Asus Monitor', N'Eli Gonzales', N'Admin User', N'', CAST(N'2026-05-08' AS Date), CAST(N'2026-05-10' AS Date), 0)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [FullName], [Email], [Role], [Password], [Permissions], [IsActive], [DateCreated]) VALUES (1, N'admin', N'Admin User', N'admin@school.edu', N'System Admin', N'admin123', N'Full Access', 1, CAST(N'2026-05-07T15:58:16.310' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [FullName], [Email], [Role], [Password], [Permissions], [IsActive], [DateCreated]) VALUES (2, N'staff01', N'Staff User', N'staff@school.edu', N'Staff', N'123456', N'None', 1, CAST(N'2026-05-07T15:58:16.310' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [FullName], [Email], [Role], [Password], [Permissions], [IsActive], [DateCreated]) VALUES (3, N'Admin02', N'Mitchelle Capuli', N'mitchellecapuli@gmail.com', N'Admin', N'admin123', N'Delete Inventory Items', 0, CAST(N'2026-05-08T00:19:02.240' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E480E81CC5]    Script Date: 5/8/2026 3:36:39 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053428109ED0]    Script Date: 5/8/2026 3:36:39 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
USE [master]
GO
